.appContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 15px;
    gap: 15px;
    background-color: var(--bg-chat);
}

.outletContainer {
    flex: 1;
    display: flex;
    overflow: hidden;
}